**/bin/
**/obj/
*.vscode/

*.csproj.nuget.*
*.nuget.*
project.assets.json
project.nuget.cache
TestResults/
*.trx
*.nupkg
*.runtimeconfig.json
*.deps.json
*.pdb
*.ilk
*.tmp
*.temp
*.log
!**/bin/.gitkeep
!**/obj/.gitkeep